{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="room section">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for photo in object.photo.all %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/media/{{ photo }}"
                             role="img">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="container">
                <div class="room_main-info col-lg-8">
                    <div class="amenities d-flex flex-wrap align-items-center">
                                <span class="amenities_item d-inline-flex align-items-center">
                                    <img style="width: 30px" src="{% static 'img/room.svg' %}" alt="img">
                                    {{ object.room }} Комнаты
                                </span>
                    </div>
                    <div class="description">
                        <p class="description_text">{{ object.description }}
                        </p>
                    </div>
                    {% if user == object.owner %}
                    <a href="{% url 'realty:update' object.pk %}" class="btn btn-primary me-md-2">Редактировать</a>
                    <a href="{% url 'realty:delete' object.pk %}" class="btn btn-danger me-md-2">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}