{% extends 'base.html' %}
{% block content %}
<!-- rooms page content start -->
<main class="rooms section">
    <div class="container">
        <ul class="rooms_list">
            {% for object in object_list %}
            <li class="rooms_list-item" data-order="1" data-aos="fade-up">
                <div class="item-wrapper d-md-flex">
                    <div class="media">
                        <picture>
                            <img class="lazy" src="{{ object.photo.photo.url }}" alt="media"/>
                        </picture>
\                    </div>
                    <div class="main d-md-flex justify-content-between">
                        <div class="main_info d-md-flex flex-column justify-content-between">
                            <a class="main_title h4" href="room.html">{{ object.title }}</a>
                            <p class="main_description">{{ object.description }}</p>
                            <div class="main_amenities">
                                        <span class="main_amenities-item d-inline-flex align-items-center">
                                            <i class="icon-user icon"></i>
                                            {{ object.room }} Комнаты
                                        </span>
                                <span class="main_amenities-item d-inline-flex align-items-center">
                                            <i class="icon-bunk_bed icon"></i>
                                            1 bunk bed
                                        </span>
                            </div>
                        </div>
                        <div class="main_pricing d-flex flex-column align-items-md-end justify-content-md-between">
                            <div class="wrapper d-flex flex-column">
                                        <span class="main_pricing-item">
                                            <span class="h2">$29</span>
                                            / 1 night
                                        </span>
                                <span class="main_pricing-item">
                                            <span class="h4">$100</span>
                                            / 7 nights
                                        </span>
                            </div>
                            <a class="theme-element theme-element--accent btn" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
<!-- rooms page content end -->
{% endblock %}