{% extends 'base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card p-4">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <h1 class="display-6">Удалить новость {{ object.title }}</h1>
                        <button type="submit" class="btn btn-danger">Подтвердить</button>
                        <a class="btn btn-primary" href="{% url 'users:profile' %}">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}