{% extends 'base.html' %}
{% load news_tags %}
{% load static %}
{% block content %}
<main>
    <div class="post section">
        <div class="container sticky-parent d-lg-flex justify-content-between align-items-start">
            <div class="post_main">
                <div class="post_main-article">
                    <h2 class="headingWh mb-2 mb-md-4">{{ object.title }}</h2>
                    <div class="media media--main">
                        <picture>
                            <img class="lazy" src="/media/{{ object.image }}" alt="media"/>
                        </picture>
                    </div>
                    <div class="post_main-article_metadata">
                                <span class="item d-inline-flex align-items-center">
                                    <img style="width: 30px" src="{% static 'img/calendar.svg' %}" alt="img">
                                    {{ object.date }}
                                </span>
                        <span class="item d-inline-flex align-items-center">
                                    <img style="width: 30px" src="{% static 'img/views.svg' %}" alt="img">
                                    <span class="number">{{ object.views_count }}</span>
                                    <span class="text">{{ object.views_count|get_views }}</span>
                                </span>
                    </div>
                    <p class="post_main-article_text">
                        {{ object.body }}
                    </p>
                </div>
                {% if user == object.author or user.is_staff %}
                <a href="{% url 'news:update' object.slug %}" class="btn btn-primary me-md-2">Редактировать</a>
                <a href="{% url 'news:delete' object.pk %}" class="btn btn-danger me-md-2">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}