{% load static %}
<div class="divider">или</div>
<div class="social-wrap">

    <a href="#" class="twiter">
        <img style="display:inline-flex;align-items:center;align-content:center;max-width:35px;"
             src="{% static 'img/twittericon.svg' %}" alt="icon">
    </a>
    <a href="#" class="google">
        <img style="display:inline-flex;align-items:center;align-content:center;max-width:30px;"
             src="{% static 'img/googleicon.svg' %}" alt="icon">
    </a>
    <a href="#" class="facebook">
        <img style="display:inline-flex;align-items:center;align-content:center;max-width:25px;"
             src="{% static 'img/facebookicon.svg' %}" alt="icon">
    </a>
</div>