<!-- news aside start -->
<div class="widgets" data-sticky="true" data-stop="90">
    <div class="widgets_item widgets_item--categories">
        <h4 class="widgets_item-header">Categories</h4>
        <ul class="list">
            <li class="list-item d-flex align-items-center">
                <a class="link" href="#">Travel</a>
            </li>
            <li class="list-item d-flex align-items-center current">
                <a class="link" href="#">Tourist Guide</a>
            </li>
            <li class="list-item d-flex align-items-center">
                <a class="link" href="#">City Sights</a>
            </li>
            <li class="list-item d-flex align-items-center">
                <a class="link" href="#">Communication</a>
            </li>
        </ul>
    </div>
</div>
<!-- news aside end -->