{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div style="text-align:center; margin-top:20px" class="col-lg-6 mx-auto">
        <img style="width:210px; height:210px; margin:auto;" class="bd-placeholder-img rounded-circle border" src="/media/{{ object_list.user.avatar }}"></img>
        {% if object_list.user.first_name and object_list.user.last_name %}
        <h2 class="fw-normal">{{ object_list.user.first_name }} {{ object_list.user.last_name }}</h2>
        {% else %}
        <h2 class="fw-normal">{{ object_list.user.email }}</h2>
        {% endif %}
        <a style="margin-top: 10px;" class="btn btn-secondary" href="{% url 'users:profile_update' %}">Редактировать профиль</a></p>
    </div><!-- /.col-lg-4 -->
</div>
{% endblock %}