{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
{% load static %}
<!-- banner sec -->
<div class="bannerSec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bannercntSec signcntsec">
                    <div class="bannerImg d-none d-xl-flex">
                        {% include 'includes/inc_main_photos.html' %}
                    </div>

                    <div class="signctn">
                        <h2 class="textwhitecolor signheading">Вход в <span class="textbluecolor">Самолет</span>
                        </h2>
                            <form method="post">
                                {% csrf_token %}
                                <div class="input-box">
                                    {{ form.username|add_placeholder:'E-mail' }}
                                </div>

                                <div class="input-box">
                                    {{ form.password|add_placeholder:'Введите пароль' }}
                                </div>

                                <br>
                                <div class="sign-btn">
                                    <button type="submit" class="btn btnlightblue me-3">Войти</button>
                                    <button class="btn btndarkblue">Восстановить пароль</button>
                                </div>
                            </form>


                        {% include 'includes/inc_social_link.html' %}
                        <div class="signup-link">
                            У вас нет аккаунта? <a href="{% url 'users:signup' %}">Создать аккаунт</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}