{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="bannerSec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bannercntSec signupsec">
                    <div class="bannerImg mt-5 d-none d-xl-flex">
                        {% include 'includes/inc_main_photos.html' %}

                        <div class="bannerbtn 1d-block d-none d-sm-none d-md-block d-xl-none">
                            <button class="btn btnlightblue me-3">Discover</button>
                            <button class="btn btndarkblue">Create</button>
                        </div>
                    </div>

                    <div class="bannercnt signctn">
                        <h2 style="margin: auto; margin-bottom: 15px" class="textwhitecolor signheading">Регистрация на
                            <span
                                    class="textbluecolor">Самолете</span>
                        </h2>
                        <div class="sign-from signup-form">
                            <form method="post">
                                {% csrf_token %}
                                <div class="input-box">
                                    {{ form.email|add_placeholder:'E-mail' }}
                                </div>
                                <div class="row input-box">
                                    {% for name, error in form.errors.items %}
                                    <br>
                                    <div style="max-width: 400px; margin: auto" class="signup-link">{{ error }}</div>
                                    {% if loop.last %}
                                    <br>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="sign-btn">
                                    <button type="submit" class="btn btnlightblue me-3">
                                        Регистрация
                                    </button>
                                </div>
                        </div>

                        {% include 'includes/inc_social_link.html' %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}