{% extends 'base.html' %}
{% load my_tags %}
{% load static %}
{% block content %}
<div class="row">
    <div style="text-align:center; margin-top:20px" class="col-lg-6 mx-auto">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-box">
                {{ form.email|add_placeholder:'E-mail' }}
            </div>
            <div class="input-box">
                {{ form.first_name|add_placeholder:'E-mail' }}
            </div>
            <div class="input-box">
                {{ form.last_name|add_placeholder:'E-mail' }}
            </div>
            <div class="input-box">
                {{ form.telegram|add_placeholder:'Telegram' }}
            </div>
            <div class="input-box">
                {{ form.avatar }}
            </div>
            <div class="row input-box">
                {% for name, error in form.errors.items %}
                <br>
                <div style="max-width: 400px; margin: auto" class="signup-link">{{ error }}</div>
                {% if loop.last %}
                <br>
                {% endif %}
                {% endfor %}
            </div>
            <div class="sign-btn">
                <button type="submit" class="btn btnlightblue me-3">
                    Сохранить
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}